# SQLite
DATABASE_URL=sqlite:///./aibot.db

DEBUG=True

# Сервисы
OPENAI_API_KEY=test_key
TELEGRAM_API_ID=12345
TELEGRAM_API_HASH=test_hash
TELEGRAM_BOT_TOKEN=test_token
TELEGRAM_CHANNEL_ID=@test_channel

# Redis
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2